In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
cols_ate_2016 = [
    "CO_COR_RACA_ALUNO",
    "CO_CATEGORIA_ADMINISTRATIVA",
    "CO_GRAU_ACADEMICO",
]

In [3]:
def ler_dados_ate_2016(dados_ano):
    return pd.read_csv(dados_ano, sep='|', encoding="latin1", usecols=cols_ate_2016)

In [4]:
dados_2009 = ler_dados_ate_2016('DM_ALUNO_2009.CSV')
dados_2010 = ler_dados_ate_2016('DM_ALUNO_2010.CSV')
dados_2011 = ler_dados_ate_2016('DM_ALUNO_2011.CSV')
dados_2012 = ler_dados_ate_2016('DM_ALUNO_2012.CSV')
dados_2013 = ler_dados_ate_2016('DM_ALUNO_2013.CSV')
dados_2014 = ler_dados_ate_2016('DM_ALUNO_2014.CSV')
dados_2015 = ler_dados_ate_2016('DM_ALUNO_2015.CSV')
dados_2016 = ler_dados_ate_2016('DM_ALUNO_2016.CSV')

In [5]:
cols = [
    "TP_COR_RACA",
    "TP_CATEGORIA_ADMINISTRATIVA",
    "TP_GRAU_ACADEMICO"
]

In [6]:
def ler_dados(dados_ano):
    return pd.read_csv(dados_ano, sep='|', encoding="latin1", usecols=cols)

In [7]:
dados_2017 = ler_dados('DM_ALUNO_2017.CSV')
dados_2018 = ler_dados('DM_ALUNO_2018.CSV')
dados_2019 = ler_dados('SUP_ALUNO_2019.CSV')

In [8]:
dados_2019.head()

   TP_CATEGORIA_ADMINISTRATIVA  TP_GRAU_ACADEMICO  TP_COR_RACA
0                            1                1.0            2
1                            1                1.0            3
2                            1                1.0            3
3                            1                1.0            2
4                            1                1.0            3

In [17]:
dados_2011.head()

   CO_CATEGORIA_ADMINISTRATIVA  CO_GRAU_ACADEMICO  CO_COR_RACA_ALUNO
0                            4                2.0                0.0
1                            4                2.0                3.0
2                            4                1.0                0.0
3                            4                1.0                1.0
4                            3                2.0                1.0

In [16]:
dados_totais_ate_2016 = [dados_2009, dados_2010, dados_2011, dados_2012, dados_2013,
                dados_2014, dados_2015, dados_2016]
dados_totais_2017_a_2019 = [dados_2017, dados_2018,dados_2019]

In [19]:
def mostrar_dados_nulos(dados_ano):
    return print(dados_ano.isnull().sum())

In [23]:
def mostrar_anos_ate_2016(i):
    if i == 0:
        print('Para o ano de 2009...')
    elif i == 1:
        print('Para o ano de 2010...')
    elif i == 2:
        print('Para o ano de 2011...')
    elif i == 3:
        print('Para o ano de 2012...')
    elif i == 4:
        print('Para o ano de 2013...') 
    elif i == 5:
        print('Para o ano de 2014...') 
    elif i == 6:
        print('Para o ano de 2015...') 
    else:
        print('Para o ano de 2016...') 

def mostrar_anos_depois_2016(i):
    if i == 0:
        print('Para o ano de 2017...')
    elif i == 1:
        print('Para o ano de 2018...')
    else:
        print('Para o ano de 2019...')

In [25]:
i = 0
while i <= 7:
    mostrar_anos_ate_2016(i)
    mostrar_dados_nulos(dados_totais_ate_2016[i])
    print("")
    i += 1

Para o ano de 2009...
CO_CATEGORIA_ADMINISTRATIVA        0
CO_GRAU_ACADEMICO              38181
CO_COR_RACA_ALUNO                  0
dtype: int64

Para o ano de 2010...
CO_CATEGORIA_ADMINISTRATIVA        0
CO_GRAU_ACADEMICO              62105
CO_COR_RACA_ALUNO                  0
dtype: int64

Para o ano de 2011...
CO_CATEGORIA_ADMINISTRATIVA        0
CO_GRAU_ACADEMICO              59154
CO_COR_RACA_ALUNO                  1
dtype: int64

Para o ano de 2012...
CO_CATEGORIA_ADMINISTRATIVA        0
CO_GRAU_ACADEMICO              43813
CO_COR_RACA_ALUNO                  0
dtype: int64

Para o ano de 2013...
CO_CATEGORIA_ADMINISTRATIVA        0
CO_GRAU_ACADEMICO              51267
CO_COR_RACA_ALUNO                  0
dtype: int64

Para o ano de 2014...
CO_CATEGORIA_ADMINISTRATIVA        0
CO_GRAU_ACADEMICO              23930
CO_COR_RACA_ALUNO                  0
dtype: int64

Para o ano de 2015...
CO_CATEGORIA_ADMINISTRATIVA        0
CO_GRAU_ACADEMICO              62530
CO_COR_RACA_ALUNO                  0
dtype: int64

Para o ano de 2016...
CO_CATEGORIA_ADMINISTRATIVA        0
CO_GRAU_ACADEMICO              60766
CO_COR_RACA_ALUNO                  0
dtype: int64

In [ ]:
i = 0
while i <= 7:
    mostrar_anos_depois_2016(i)
    mostrar_dados_nulos(dados_totais_2017_a_2019[i])
    print("")
    i += 1

Um ponto muito importante ao se fazer análise de dados é a verificação se há dados faltantes para que esses dados não prejudiquem a verdadeira análise dos dados e para assim tomar uma decisão do que será feito em relação a falta de informação. Nesse caso os dados faltantes, em todos os data sets são na coluna "CO_GRAU_ACADEMICO"(Código do grau acadêmico conferido ao diplomado pelo curso) para dados até 2016, e "TP_GRAU_ACADEMICO"(Tipo de grau academico conferido ao diplomado pelo curso), os dois tem nomes diferentes, porém a forma de categorizar são iguais. Ao fazer a leitura do dicionário de variáveis (anexo baixado com junto com os data sets) descobre-se que essa categoria tem 5 divisões, que são:

* 1 - Bacharelado
* 2 - Licenciatura
* 3 - Tecnologócio
* 4 - Bacharelado e Licenciatura
* (.) - Não aplicável (cursos com nível acadêmico igual a sequencial de formação espefícia ou cursos com área básica de curso)

Com isso, percebe-se que os dados nulos apresentados nos data sets são referentes a esses cursos acadêmicos sequanciais, ou seja, são cursos que servem de complementação para o curso superior que a pessoa já tem ou então são cursos básicos. Portanto, as informações que poderiam estar contidas nos dados nulos já estão contidas nas outras categorias direta ou indiretamente. Dessa forma é possível fazer a retirada dos dados faltantes sem risco de perder informações relevantes.

In [12]:
def retira_nulos(dados_ano):
    dados_ano.dropna(axis = 0, inplace = True)

In [13]:
retira_nulos(dados_2009)
retira_nulos(dados_2010)

In [14]:
retira_nulos(dados_2011)
retira_nulos(dados_2012)

In [15]:
retira_nulos(dados_2013)
retira_nulos(dados_2014)

In [16]:
retira_nulos(dados_2015)
retira_nulos(dados_2016)

In [17]:
retira_nulos(dados_2017)
retira_nulos(dados_2018)
retira_nulos(dados_2019)

In [18]:
mostrar_dados_nulos(dados_2009)
print("")
mostrar_dados_nulos(dados_2012)
print("")
mostrar_dados_nulos(dados_2015)
print("")
mostrar_dados_nulos(dados_2019)

CO_CATEGORIA_ADMINISTRATIVA    0
CO_GRAU_ACADEMICO              0
CO_COR_RACA_ALUNO              0
dtype: int64

CO_CATEGORIA_ADMINISTRATIVA    0
CO_GRAU_ACADEMICO              0
CO_COR_RACA_ALUNO              0
dtype: int64

CO_CATEGORIA_ADMINISTRATIVA    0
CO_GRAU_ACADEMICO              0
CO_COR_RACA_ALUNO              0
dtype: int64

TP_CATEGORIA_ADMINISTRATIVA    0
TP_GRAU_ACADEMICO              0
TP_COR_RACA                    0
dtype: int64

Todos os dados nulos foram retirados.

In [19]:
print(dados_2010.info())
print("")
print(dados_2013.info())
print("")
print(dados_2016.info())
print("")
print(dados_2018.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8275114 entries, 0 to 8337218
Data columns (total 3 columns):
 #   Column                       Dtype
---  ------                       -----
 0   CO_CATEGORIA_ADMINISTRATIVA  int64
 1   CO_GRAU_ACADEMICO            float64
 2   CO_COR_RACA_ALUNO            int64
dtypes: float64(1), int64(2)
memory usage: 252.5 MB
None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4933661 entries, 0 to 4984927
Data columns (total 3 columns):
 #   Column                       Dtype
---  ------                       -----
 0   CO_CATEGORIA_ADMINISTRATIVA  int64
 1   CO_GRAU_ACADEMICO            float64
 2   CO_COR_RACA_ALUNO            int64
dtypes: float64(1), int64(2)
memory usage: 150.6 MB
None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11388456 entries, 0 to 11449221
Data columns (total 3 columns):
 #   Column                       Dtype
---  ------                       -----
 0   CO_CATEGORIA_ADMINISTRATIVA  int64
 1   CO_GRAU_ACADEMICO            float64
 2   CO_COR_RACA_ALUNO            int64
dtypes: float64(1), int64(2)
memory usage: 347.5 MB
None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11978522 entries, 0 to 12043992
Data columns (total 3 columns):
 #   Column                       Dtype
---  ------                       -----
 0   TP_CATEGORIA_ADMINISTRATIVA  int64
 1   TP_GRAU_ACADEMICO            float64
 2   TP_COR_RACA                  int64
dtypes: float64(1), int64(2)
memory usage: 365.6 MB
None

Todas as variáveis que serão analisadas já estão no tipo adequada para fazer a análise. Isso é uma vantagem, visto que se o tipo das variáveis fossem diferente, como por exemplo se a categoria administrativa estivesse sendo lido como uma *string* ao invés de como *int*, seria necessário fazer a conversão para ai sim fazer a análise.

In [22]:
dados_2019['TP_COR_RACA'].value_counts()

1    5168545
3    3727390
0    2221118
2     867174
4     206619
5      79957
9      22558
Name: TP_COR_RACA, dtype: int64

In [24]:
dados_2009['CO_COR_RACA_ALUNO'].value_counts()

6    2652541
0    2444875
1    1212476
3     452611
2     127732
4      44748
5       8854
Name: CO_COR_RACA_ALUNO, dtype: int64

In [29]:
dados_2009['CO_COR_RACA_ALUNO'].shape[0]

6943837

In [30]:
'''class QuantidadeNegros():
    def __init__(self):
        self.negros_na_universidade = []
        self.total_negros_na_universidade = []'''

total_negros_na_universidade = []
negros_na_universidade = []
def quantidade_negros_antes_de_2017(dados_ano):
    for dados in dados_ano["CO_COR_RACA_ALUNO"]:
        if dados == 2.0 or dados == 3:
            negros_na_universidade.append(dados)
            total_negros_na_universidade.append(dados)
    print(f'Havia \033[1;34m{len(negros_na_universidade)}\033[0;0m na universidade, sendo um total de \033[1;34m{(len(negros_na_universidade)/dados_ano["CO_COR_RACA_ALUNO"].shape[0]*100):.2f}%\033[0;0m.')

def quantidade_negros(dados_ano):
    negros_na_universidade = []
    for dados in dados_ano["TP_COR_RACA"]:
        if dados == 2 or dados == 3:
            negros_na_universidade.append(dados)
            total_negros_na_universidade.append(dados)
    print(f'Havia \033[1;34m{len(negros_na_universidade)}\033[0;0m na universidade, sendo um total de \033[1;34m{(len(negros_na_universidade)/dados_ano["TP_COR_RACA"].shape[0]*100):.2f}%\033[0;0m.')

In [28]:
quantidade_negros_antes_de_2017(dados_2009)
negros_universidade_2009 = negros_na_universidade
print("")
negros_na_universidade_publica = []
quantidade_negros_antes_de_2017(dados_2010)
negros_universidade_2010 = negros_na_universidade
print("")
negros_na_universidade_publica = []
quantidade_negros_antes_de_2017(dados_2011)
negros_universidade_2011 = negros_na_universidade
print("")
negros_na_universidade_publica = []
quantidade_negros_antes_de_2017(dados_2012)
negros_universidade_2012 = negros_na_universidade
print("")
negros_na_universidade_publica = []
quantidade_negros_antes_de_2017(dados_2013)
negros_universidade_2013 = negros_na_universidade
print("")
negros_na_universidade_publica = []
quantidade_negros_antes_de_2017(dados_2014)
negros_universidade_2014 = negros_na_universidade
print("")
negros_na_universidade_publica = []
quantidade_negros_antes_de_2017(dados_2015)
negros_universidade_2015 = negros_na_universidade
print("")
negros_na_universidade_publica = []
quantidade_negros_antes_de_2017(dados_2016)
negros_universidade_2016 = negros_na_universidade
print("")
negros_na_universidade_publica = []
quantidade_negros(dados_2017)
negros_universidade_2017 = negros_na_universidade
print("")
negros_na_universidade_publica = []
quantidade_negros(dados_2018)
negros_universidade_2018 = negros_na_universidade
print("")
negros_na_universidade_publica = []
quantidade_negros(dados_2019)
negros_universidade_2019 = negros_na_universidade

Havia 127732 na universidade, sendo um total de 1.84%.

Havia 306002 na universidade, sendo um total de 3.70%.

Havia 484970 na universidade, sendo um total de 6.05%.

Havia 646254 na universidade, sendo um total de 10.20%.

Havia 783462 na universidade, sendo um total de 15.88%.

Havia 976363 na universidade, sendo um total de 19.47%.

Havia 1553207 na universidade, sendo um total de 13.96%.

Havia 2222978 na universidade, sendo um total de 19.52%.

Havia 729060 na universidade, sendo um total de 6.33%.

Havia 822429 na universidade, sendo um total de 6.87%.

Havia 867174 na universidade, sendo um total de 7.05%.

In [25]:
print(f'No prazo de 2009 até 2019 houveram \033[1;34m{len(total_negros_na_universidade)}\033[0;0m negros na universidade!')

No prazo de 2009 até 2019 houveram 4671443 negros na universidade!

In [37]:
total_negros_na_universidade_publica = []
negros_na_universidade_publica = []
def quantidade_negros_publica_antes_de_2017(dados_ano):
    for dados_publica in dados_ano["CO_CATEGORIA_ADMINISTRATIVA"]:
        if dados_publica == 1 | dados_publica == 2 | dados_publica == 3:
            negros_na_universidade_publica.append(dados_publica)
            total_negros_na_universidade_publica.append(dados_publica)
    print(f'Havia \033[1;34m{len(negros_na_universidade_publica)}\033[0;0m na universidade pública (Federal, Estadual ou Municipal), sendo um total de \033[1;34m{(len(negros_na_universidade_publica)/dados_ano["CO_CATEGORIA_ADMINISTRATIVA"].shape[0]*100):.2f}%\033[0;0m.')

def quantidade_negros_publica(dados_ano):
    negros_na_universidade_publica = []
    for dados_publica in dados_ano["TP_CATEGORIA_ADMINISTRATIVA"]:
        if dados_publica == 1 | dados_publica == 2 | dados_publica == 3:
            negros_na_universidade_publica.append(dados_publica)
            total_negros_na_universidade_publica.append(dados_publica)
    print(f'Havia \033[1;34m{len(negros_na_universidade_publica)}\033[0;0m na universidade pública (Federal, Estadual ou Municipal), sendo um total de \033[1;34m{(len(negros_na_universidade_publica)/dados_ano["TP_CATEGORIA_ADMINISTRATIVA"].shape[0]*100):.2f}%\033[0;0m.')

In [38]:
quantidade_negros_publica_antes_de_2017(dados_2009)
negros_universidade_publica_2009 = negros_na_universidade_publica
print("")
negros_na_universidade_publica = []
quantidade_negros_publica_antes_de_2017(dados_2010)
negros_universidade_publica_2010 = negros_na_universidade_publica
print("")
negros_na_universidade_publica = []
quantidade_negros_publica_antes_de_2017(dados_2011)
negros_universidade_publica_2011 = negros_na_universidade_publica
print("")
negros_na_universidade_publica = []
quantidade_negros_publica_antes_de_2017(dados_2012)
negros_universidade_publica_2012 = negros_na_universidade_publica
print("")
negros_na_universidade_publica = []
quantidade_negros_publica_antes_de_2017(dados_2013)
negros_universidade_publica_2013 = negros_na_universidade_publica
print("")
negros_na_universidade_publica = []
quantidade_negros_publica_antes_de_2017(dados_2014)
negros_universidade_publica_2014 = negros_na_universidade_publica
print("")
negros_na_universidade_publica = []
quantidade_negros_publica_antes_de_2017(dados_2015)
negros_universidade_publica_2015 = negros_na_universidade_publica
print("")
negros_na_universidade_publica = []
quantidade_negros_publica_antes_de_2017(dados_2016)
negros_universidade_publica_2016 = negros_na_universidade_publica
print("")
negros_na_universidade_publica = []
quantidade_negros_publica(dados_2017)
negros_universidade_publica_2017 = negros_na_universidade_publica
print("")
negros_na_universidade_publica = []
quantidade_negros_publica(dados_2018)
negros_universidade_publica_2018 = negros_na_universidade_publica
print("")
negros_na_universidade_publica = []
quantidade_negros_publica(dados_2019)
negros_universidade_publica_2019 = negros_na_universidade_publica

Havia 131885 na universidade pública (Federal, Estadual ou Municipal), sendo um total de 1.89%.
131885

Havia 128191 na universidade pública (Federal, Estadual ou Municipal), sendo um total de 1.54%.

Havia 137688 na universidade pública (Federal, Estadual ou Municipal), sendo um total de 1.70%.

Havia 49212 na universidade pública (Federal, Estadual ou Municipal), sendo um total de 0.77%.

Havia 16505 na universidade pública (Federal, Estadual ou Municipal), sendo um total de 0.33%.

Havia 37119 na universidade pública (Federal, Estadual ou Municipal), sendo um total de 0.74%.

Havia 60536 na universidade pública (Federal, Estadual ou Municipal), sendo um total de 0.54%.

Havia 58702 na universidade pública (Federal, Estadual ou Municipal), sendo um total de 0.51%.

Havia 109774 na universidade pública (Federal, Estadual ou Municipal), sendo um total de 0.95%.

Havia 87798 na universidade pública (Federal, Estadual ou Municipal), sendo um total de 0.73%.

Havia 81015 na universidade pública (Federal, Estadual ou Municipal), sendo um total de 0.66%.

In [39]:
print(f'No prazo de 2009 até 2019 houveram \033[1;34m{len(total_negros_na_universidade_publica)}\033[0;0m negros na universidade!')

No prazo de 2009 até 2019 houveram 898425 negros na universidade!

In [40]:
dados_2009["CO_CURSO"].value_counts()

97851     78207
89380     36558
99362     33236
98892     24715
100782    24398
          ...
5794          1
38878         1
81838         1
52431         1
67255         1
Name: CO_CURSO, Length: 28966, dtype: int64

In [87]:
fig, ax = plt.subplots(figsize = (20, 16))

ax.bar(dados_2009["CO_COR_RACA_ALUNO"])

plt.tight_layout()
plt.plot()

TypeError: bar() missing 1 required positional argument: 'height'