In [1]:
import pandas as pd

In [2]:
cols = [
    "TP_CATEGORIA_ADMINISTRATIVA",
    "TP_ORGANIZACAO_ACADEMICA",
    "TP_COR_RACA",
    "TP_SEXO",
    "NU_ANO_NASCIMENTO",
    "TP_SITUACAO",
    "DT_INGRESSO_CURSO",
    "IN_RESERVA_ETNICO",
    "IN_RESERVA_ENSINO_PUBLICO",
    "IN_RESERVA_RENDA_FAMILIAR"
]

In [3]:
dados_2019 = pd.read_csv('SUP_ALUNO_2019.CSV', sep='|', encoding="latin1", usecols=cols )

In [4]:
dados_2019.head()

,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,TP_COR_RACA,TP_SEXO,NU_ANO_NASCIMENTO,TP_SITUACAO,DT_INGRESSO_CURSO,IN_RESERVA_ETNICO,IN_RESERVA_ENSINO_PUBLICO,IN_RESERVA_RENDA_FAMILIAR
0,1,1,2,1,1992,2,01JAN2017:00:00:00,NaN,NaN,NaN
1,1,1,3,2,1987,3,01JAN2016:00:00:00,1.0,1.0,0.0
2,1,1,3,2,1988,2,01JAN2012:00:00:00,0.0,1.0,0.0
3,1,1,2,1,1988,4,01JAN2015:00:00:00,1.0,1.0,0.0
4,1,1,3,2,1977,6,01JAN2013:00:00:00,1.0,1.0,0.0

In [9]:
dados_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12350832 entries, 0 to 12350831
Data columns (total 10 columns):
 #   Column                       Dtype
---  ------                       -----
 0   TP_CATEGORIA_ADMINISTRATIVA  int64
 1   TP_ORGANIZACAO_ACADEMICA     int64
 2   TP_COR_RACA                  int64
 3   TP_SEXO                      int64
 4   NU_ANO_NASCIMENTO            int64
 5   TP_SITUACAO                  int64
 6   DT_INGRESSO_CURSO            object
 7   IN_RESERVA_ETNICO            float64
 8   IN_RESERVA_ENSINO_PUBLICO    float64
 9   IN_RESERVA_RENDA_FAMILIAR    float64
dtypes: float64(3), int64(6), object(1)
memory usage: 942.3+ MB

In [15]:
dados_2019.isnull().sum()

TP_CATEGORIA_ADMINISTRATIVA           0
TP_ORGANIZACAO_ACADEMICA              0
TP_COR_RACA                           0
TP_SEXO                               0
NU_ANO_NASCIMENTO                     0
TP_SITUACAO                           0
DT_INGRESSO_CURSO                     0
IN_RESERVA_ETNICO              11657589
IN_RESERVA_ENSINO_PUBLICO      11657589
IN_RESERVA_RENDA_FAMILIAR      11657589
dtype: int64

Ao fazer a leitura do dicionário de variáves foi possível ver que para as categorias "IN_RESERVA_ETNICO"(Informa se o aluno ingressou por meio de programa de reserva de vagas de cunho etnico), "IN_RESERVA_ENSINO_PUBLICO"(Informa se o aluno ingressou por meio de programa de reserva de vagas para egressos da escola pública) e "IN_RESERVA_RENDA_FAMILIAR"(Informa se o aluno ingressou por meio de programa de reserva de vagas de cunho social/renda familiar) há três respostas que são:

* 0 - Não (Aluno possui outro tipo de reserva)
* 1 - Sim 
* (.) - Aluno não possui qualquer tipo de reserva de vagas

Com isso, percebe-se que os dados que estão sendo informados como nulos nessas três colunas significam que o aluno não possui qualquer tipo de reserva de vagas, portanto para a análise de cada uma dessas colunas não haverá prejuízo algum em se fazer a retirada dos dados nulos, visto que eles não representam nenhuma informação útil para a análise.

In [16]:
dados_2019 = dados_2019.dropna(axis=0)

In [17]:
dados_2019.isnull().sum()

TP_CATEGORIA_ADMINISTRATIVA    0
TP_ORGANIZACAO_ACADEMICA       0
TP_COR_RACA                    0
TP_SEXO                        0
NU_ANO_NASCIMENTO              0
TP_SITUACAO                    0
DT_INGRESSO_CURSO              0
IN_RESERVA_ETNICO              0
IN_RESERVA_ENSINO_PUBLICO      0
IN_RESERVA_RENDA_FAMILIAR      0
dtype: int64