In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
cols_ate_2016 = [
    "CO_COR_RACA_ALUNO",
    "CO_CATEGORIA_ADMINISTRATIVA",
    "CO_CURSO",
]

In [3]:
def ler_dados_ate_2016(dados_ano):
    return pd.read_csv(dados_ano, sep='|', encoding="latin1", usecols=cols_ate_2016)

In [4]:
dados_2009 = ler_dados_ate_2016('DM_ALUNO_2009.CSV')
dados_2010 = ler_dados_ate_2016('DM_ALUNO_2010.CSV')
dados_2011 = ler_dados_ate_2016('DM_ALUNO_2011.CSV')
dados_2012 = ler_dados_ate_2016('DM_ALUNO_2012.CSV')
dados_2013 = ler_dados_ate_2016('DM_ALUNO_2013.CSV')
dados_2014 = ler_dados_ate_2016('DM_ALUNO_2014.CSV')
dados_2015 = ler_dados_ate_2016('DM_ALUNO_2015.CSV')
dados_2016 = ler_dados_ate_2016('DM_ALUNO_2016.CSV')

In [8]:
cols = [
    "TP_COR_RACA",
    "TP_CATEGORIA_ADMINISTRATIVA",
    "CO_CURSO"
]

In [9]:
def ler_dados(dados_ano):
    return pd.read_csv(dados_ano, sep='|', encoding="latin1", usecols=cols)

In [10]:
dados_2017 = ler_dados('DM_ALUNO_2017.CSV')
dados_2018 = ler_dados('DM_ALUNO_2018.CSV')
dados_2019 = ler_dados('SUP_ALUNO_2019.CSV')

In [11]:
dados_2019.head()

   TP_COR_RACA  TP_SEXO  IN_RESERVA_ETNICO
0            2        1                NaN
1            3        2                1.0
2            3        2                0.0
3            2        1                1.0
4            3        2                1.0

In [12]:
dados_2011.head()

   CO_COR_RACA_ALUNO  IN_SEXO_ALUNO  IN_RESERVA_ETNICO
0                0.0            1.0                NaN
1                3.0            1.0                NaN
2                0.0            1.0                NaN
3                1.0            0.0                NaN
4                1.0            1.0                NaN

In [14]:
def mostrar_dados_nulos(dados_ano):
    return print(dados_ano.isnull().sum())

In [17]:
mostrar_dados_nulos(dados_2009)
print("")
mostrar_dados_nulos(dados_2012)
print("")
mostrar_dados_nulos(dados_2015)
print("")
mostrar_dados_nulos(dados_2019)

IN_RESERVA_ETNICO    0
IN_SEXO_ALUNO        0
CO_COR_RACA_ALUNO    0
dtype: int64

CO_COR_RACA_ALUNO          0
IN_SEXO_ALUNO              0
IN_RESERVA_ETNICO    6235191
dtype: int64

CO_COR_RACA_ALUNO           0
IN_SEXO_ALUNO               0
IN_RESERVA_ETNICO    10758393
dtype: int64

TP_COR_RACA                 0
TP_SEXO                     0
IN_RESERVA_ETNICO    11657589
dtype: int64

Ao fazer a leitura do dicionário de variáves (baixado juntamente com os dados utilizados nesse notebook) foi possível ver que para a "IN_RESERVA_ETNICO"(Informa se o aluno ingressou por meio de programa de reserva de vagas de cunho etnico) há três respostas que são:

* 0 - Não (Aluno possui outro tipo de reserva)
* 1 - Sim 
* (.) - Aluno não possui qualquer tipo de reserva de vagas

Com isso, percebe-se que os dados que estão sendo informados como nulos nessa coluna significa que o aluno não possui qualquer tipo de reserva de vagas, portanto para a análise dessa coluna não haverá prejuízo algum em se fazer a retirada dos dados nulos, visto que eles não representam nenhuma informação útil para a análise. E foi perceptível que o padrão repetiu para todos os anos analisados.

In [21]:
def retira_dados_nulos(dados_ano):
    return dados_ano.dropna(axis=0, inplace=True)

In [27]:
retira_dados_nulos(dados_2009)
retira_dados_nulos(dados_2010)
retira_dados_nulos(dados_2011)
retira_dados_nulos(dados_2012)
retira_dados_nulos(dados_2013)
retira_dados_nulos(dados_2014)
retira_dados_nulos(dados_2015)
retira_dados_nulos(dados_2016)
retira_dados_nulos(dados_2017)
retira_dados_nulos(dados_2018)
retira_dados_nulos(dados_2019)

In [28]:
mostrar_dados_nulos(dados_2009)
print("")
mostrar_dados_nulos(dados_2012)
print("")
mostrar_dados_nulos(dados_2015)
print("")
mostrar_dados_nulos(dados_2019)

IN_RESERVA_ETNICO    0
IN_SEXO_ALUNO        0
CO_COR_RACA_ALUNO    0
dtype: int64

CO_COR_RACA_ALUNO    0
IN_SEXO_ALUNO        0
IN_RESERVA_ETNICO    0
dtype: int64

CO_COR_RACA_ALUNO    0
IN_SEXO_ALUNO        0
IN_RESERVA_ETNICO    0
dtype: int64

TP_COR_RACA          0
TP_SEXO              0
IN_RESERVA_ETNICO    0
dtype: int64

De fato não restou nenhuma informação nula, permitindo que a análise dos dados seja feita.

In [30]:
print(dados_2010.info())
print("")
print(dados_2013.info())
print("")
print(dados_2016.info())
print("")
print(dados_2018.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138655 entries, 2130 to 8337163
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CO_COR_RACA_ALUNO  138655 non-null  int64
 1   IN_SEXO_ALUNO      138655 non-null  int64
 2   IN_RESERVA_ETNICO  138655 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 4.2 MB
None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184718 entries, 2 to 4982417
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CO_COR_RACA_ALUNO  184718 non-null  int64
 1   IN_SEXO_ALUNO      184718 non-null  int64
 2   IN_RESERVA_ETNICO  184718 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 5.6 MB
None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 509236 entries, 0 to 11447346
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CO_COR_RACA_ALUNO  509236 non-null  int64
 1   IN_SEXO_ALUNO      509236 non-null  int64
 2   IN_RESERVA_ETNICO  509236 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 15.5 MB
None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 626658 entries, 1 to 12043654
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   TP_COR_RACA        626658 non-null  int64
 1   TP_SEXO            626658 non-null  int64
 2   IN_RESERVA_ETNICO  626658 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 19.1 MB
None

Todas as variáveis que serão analisadas já estão no tipo adequada para fazer a análise.

In [82]:
total_negros_na_universidade = []
def quantidade_negros_antes_de_2017(dados_ano):
    negros_na_universidade = []
    for dados in dados_ano["CO_COR_RACA_ALUNO"]:
        if dados == 2.0:
            negros_na_universidade.append(dados)
            total_negros_na_universidade.append(dados)
    print(f'Havia \033[1;34m{len(negros_na_universidade)}\033[0;0m na universidade, sendo um total de \033[1;34m{(len(negros_na_universidade)/dados_ano["CO_COR_RACA_ALUNO"].shape[0]*100):.2f}%\033[0;0m.')

def quantidade_negros(dados_ano):
    negros_na_universidade = []
    for dados in dados_ano["TP_COR_RACA"]:
        if dados == 2:
            negros_na_universidade.append(dados)
            total_negros_na_universidade.append(dados)
    print(f'Havia \033[1;34m{len(negros_na_universidade)}\033[0;0m na universidade, sendo um total de \033[1;34m{(len(negros_na_universidade)/dados_ano["TP_COR_RACA"].shape[0]*100):.2f}%\033[0;0m.')

In [83]:
quantidade_negros_antes_de_2017(dados_2009)
print("")
quantidade_negros_antes_de_2017(dados_2010)
print("")
quantidade_negros_antes_de_2017(dados_2011)
print("")
quantidade_negros_antes_de_2017(dados_2012)
print("")
quantidade_negros_antes_de_2017(dados_2013)
print("")
quantidade_negros_antes_de_2017(dados_2014)
print("")
quantidade_negros_antes_de_2017(dados_2015)
print("")
quantidade_negros_antes_de_2017(dados_2016)
print("")
quantidade_negros(dados_2017)
print("")
quantidade_negros(dados_2018)
print("")
quantidade_negros(dados_2019)

Havia 127936 na universidade, sendo um total de 1.83%.

Havia 14741 na universidade, sendo um total de 10.63%.

Havia 13790 na universidade, sendo um total de 9.38%.

Havia 13330 na universidade, sendo um total de 9.41%.

Havia 16677 na universidade, sendo um total de 9.03%.

Havia 24326 na universidade, sendo um total de 14.68%.

Havia 59554 na universidade, sendo um total de 13.89%.

Havia 79255 na universidade, sendo um total de 15.56%.

Havia 99255 na universidade, sendo um total de 17.20%.

Havia 109745 na universidade, sendo um total de 17.51%.

Havia 118585 na universidade, sendo um total de 17.11%.

In [84]:
print(f'No prazo de 2009 até 2019 houveram \033[1;34m{len(total_negros_na_universidade)}\033[0;0m negros na universidade!')

No prazo de 2009 até 2019 houveram 677194 negros na universidade!

In [87]:
fig, ax = plt.subplots(figsize = (20, 16))

ret_1 = ax.bar(dados_2009["CO_COR_RACA_ALUNO"])
ret_2 = ax.bar(dados_2010["CO_COR_RACA_ALUNO"])

plt.tight_layout()
plt.plot()

TypeError: bar() missing 1 required positional argument: 'height'