In [1]:
import pandas as pd

In [2]:
columns_ate_2016 = [
    "CO_COR_RACA_ALUNO",
    "CO_CATEGORIA_ADMINISTRATIVA",
    "CO_GRAU_ACADEMICO"
]

In [3]:
def read_data_until_2016(year_data):
    return pd.read_csv(year_data, sep='|', encoding="latin1", usecols=columns_ate_2016)

In [4]:
data_2009 = read_data_until_2016('DM_ALUNO_2009.CSV')
data_2010 = read_data_until_2016('DM_ALUNO_2010.CSV')
data_2011 = read_data_until_2016('DM_ALUNO_2011.CSV')
data_2012 = read_data_until_2016('DM_ALUNO_2012.CSV')
data_2013 = read_data_until_2016('DM_ALUNO_2013.CSV')
data_2014 = read_data_until_2016('DM_ALUNO_2014.CSV')
data_2015 = read_data_until_2016('DM_ALUNO_2015.CSV')
data_2016 = read_data_until_2016('DM_ALUNO_2016.CSV')

In [5]:
columns = [
    "TP_COR_RACA",
    "TP_CATEGORIA_ADMINISTRATIVA",
    "TP_GRAU_ACADEMICO"
]

In [6]:
def read_data_since_2017(year_data):
    return pd.read_csv(year_data, sep='|', encoding="latin1", usecols=columns)

In [7]:
data_2017 = read_data_since_2017('DM_ALUNO_2017.CSV')
data_2018 = read_data_since_2017('DM_ALUNO_2018.CSV')
data_2019 = read_data_since_2017('SUP_ALUNO_2019.CSV')

In [8]:
data_2019.head()

   TP_CATEGORIA_ADMINISTRATIVA  TP_GRAU_ACADEMICO  TP_COR_RACA
0                            1                1.0            2
1                            1                1.0            3
2                            1                1.0            3
3                            1                1.0            2
4                            1                1.0            3

In [9]:
data_2011.head()

   CO_CATEGORIA_ADMINISTRATIVA  CO_GRAU_ACADEMICO  CO_COR_RACA_ALUNO
0                            4                2.0                0.0
1                            4                2.0                3.0
2                            4                1.0                0.0
3                            4                1.0                1.0
4                            3                2.0                1.0

In [10]:
all_data_until_2016 = [data_2009, data_2010, data_2011, data_2012, data_2013,
                data_2014, data_2015, data_2016]
all_data_since_2017 = [data_2017, data_2018, data_2019]

In [11]:
def show_null_data(year_data):
    return print(year_data.isnull().sum())

In [12]:
def show_years_until_2016(i):
    if i == 0:
        print('Para o ano de 2009...')
    elif i == 1:
        print('Para o ano de 2010...')
    elif i == 2:
        print('Para o ano de 2011...')
    elif i == 3:
        print('Para o ano de 2012...')
    elif i == 4:
        print('Para o ano de 2013...') 
    elif i == 5:
        print('Para o ano de 2014...') 
    elif i == 6:
        print('Para o ano de 2015...') 
    else:
        print('Para o ano de 2016...') 

def show_years_since_2016(i):
    if i == 0:
        print('Para o ano de 2017...')
    elif i == 1:
        print('Para o ano de 2018...')
    else:
        print('Para o ano de 2019...')

In [13]:
i = 0
while i <= 7:
    show_years_until_2016(i)
    show_null_data(all_data_until_2016[i])
    print("")
    i += 1

Para o ano de 2009...
CO_CATEGORIA_ADMINISTRATIVA        0
CO_GRAU_ACADEMICO              38181
CO_COR_RACA_ALUNO                  0
dtype: int64

Para o ano de 2010...
CO_CATEGORIA_ADMINISTRATIVA        0
CO_GRAU_ACADEMICO              62105
CO_COR_RACA_ALUNO                  0
dtype: int64

Para o ano de 2011...
CO_CATEGORIA_ADMINISTRATIVA        0
CO_GRAU_ACADEMICO              59154
CO_COR_RACA_ALUNO                  1
dtype: int64

Para o ano de 2012...
CO_CATEGORIA_ADMINISTRATIVA        0
CO_GRAU_ACADEMICO              43813
CO_COR_RACA_ALUNO                  0
dtype: int64

Para o ano de 2013...
CO_CATEGORIA_ADMINISTRATIVA        0
CO_GRAU_ACADEMICO              51267
CO_COR_RACA_ALUNO                  0
dtype: int64

Para o ano de 2014...
CO_CATEGORIA_ADMINISTRATIVA        0
CO_GRAU_ACADEMICO              23930
CO_COR_RACA_ALUNO                  0
dtype: int64

Para o ano de 2015...
CO_CATEGORIA_ADMINISTRATIVA        0
CO_GRAU_ACADEMICO              62530
CO_COR_RACA_ALUNO                  0
dtype: int64

Para o ano de 2016...
CO_CATEGORIA_ADMINISTRATIVA        0
CO_GRAU_ACADEMICO              60766
CO_COR_RACA_ALUNO                  0
dtype: int64

In [14]:
i = 0
while i <= 2:
    show_years_since_2016(i)
    show_null_data(all_data_since_2017[i])
    print("")
    i += 1

Para o ano de 2017...
TP_CATEGORIA_ADMINISTRATIVA        0
TP_GRAU_ACADEMICO              65639
TP_COR_RACA                        0
dtype: int64

Para o ano de 2018...
TP_CATEGORIA_ADMINISTRATIVA        0
TP_GRAU_ACADEMICO              65471
TP_COR_RACA                        0
dtype: int64

Para o ano de 2019...
TP_CATEGORIA_ADMINISTRATIVA        0
TP_GRAU_ACADEMICO              57471
TP_COR_RACA                        0
dtype: int64

Um ponto muito importante ao se fazer análise de dados é a verificação se há dados faltantes para que esses dados não prejudiquem a verdadeira análise dos dados e para assim tomar uma decisão do que será feito em relação a falta de informação. Nesse caso os dados faltantes, em todos os data sets são na coluna "CO_GRAU_ACADEMICO"(Código do grau acadêmico conferido ao diplomado pelo curso) para dados até 2016, e "TP_GRAU_ACADEMICO"(Tipo de grau academico conferido ao diplomado pelo curso), os dois tem nomes diferentes, porém a forma de categorizar são iguais. Ao fazer a leitura do dicionário de variáveis (anexo baixado com junto com os data sets) descobre-se que essa categoria tem 5 divisões, que são:

* 1 - Bacharelado
* 2 - Licenciatura
* 3 - Tecnologócio
* 4 - Bacharelado e Licenciatura
* (.) - Não aplicável (cursos com nível acadêmico igual a sequencial de formação espefícia ou cursos com área básica de curso)

Com isso, percebe-se que os dados nulos apresentados nos data sets são referentes a esses cursos acadêmicos sequanciais, ou seja, são cursos que servem de complementação para o curso superior que a pessoa já tem ou então são cursos básicos. Portanto, as informações que poderiam estar contidas nos dados nulos já estão contidas nas outras categorias direta ou indiretamente. Dessa forma é possível fazer a retirada dos dados faltantes sem risco de perder informações relevantes.

In [15]:
def drop_null(year_data):
    year_data.dropna(axis = 0, inplace = True)

In [16]:
i = 0
while i <= 7:
    drop_null(all_data_until_2016[i])
    i += 1

In [17]:
i = 0
while i <= 2:
    drop_null(all_data_since_2017[i])
    i += 1

In [18]:
i = 0
while i <= 7:
    show_years_until_2016(i)
    show_null_data(all_data_until_2016[i])
    print("")
    i += 1

Para o ano de 2009...
CO_CATEGORIA_ADMINISTRATIVA    0
CO_GRAU_ACADEMICO              0
CO_COR_RACA_ALUNO              0
dtype: int64

Para o ano de 2010...
CO_CATEGORIA_ADMINISTRATIVA    0
CO_GRAU_ACADEMICO              0
CO_COR_RACA_ALUNO              0
dtype: int64

Para o ano de 2011...
CO_CATEGORIA_ADMINISTRATIVA    0
CO_GRAU_ACADEMICO              0
CO_COR_RACA_ALUNO              0
dtype: int64

Para o ano de 2012...
CO_CATEGORIA_ADMINISTRATIVA    0
CO_GRAU_ACADEMICO              0
CO_COR_RACA_ALUNO              0
dtype: int64

Para o ano de 2013...
CO_CATEGORIA_ADMINISTRATIVA    0
CO_GRAU_ACADEMICO              0
CO_COR_RACA_ALUNO              0
dtype: int64

Para o ano de 2014...
CO_CATEGORIA_ADMINISTRATIVA    0
CO_GRAU_ACADEMICO              0
CO_COR_RACA_ALUNO              0
dtype: int64

Para o ano de 2015...
CO_CATEGORIA_ADMINISTRATIVA    0
CO_GRAU_ACADEMICO              0
CO_COR_RACA_ALUNO              0
dtype: int64

Para o ano de 2016...
CO_CATEGORIA_ADMINISTRATIVA    0
CO_GRAU_ACADEMICO              0
CO_COR_RACA_ALUNO              0
dtype: int64

In [19]:
i = 0
while i <= 2:
    show_years_since_2016(i)
    show_null_data(all_data_since_2017[i])
    print("")
    i += 1

Para o ano de 2017...
TP_CATEGORIA_ADMINISTRATIVA    0
TP_GRAU_ACADEMICO              0
TP_COR_RACA                    0
dtype: int64

Para o ano de 2018...
TP_CATEGORIA_ADMINISTRATIVA    0
TP_GRAU_ACADEMICO              0
TP_COR_RACA                    0
dtype: int64

Para o ano de 2019...
TP_CATEGORIA_ADMINISTRATIVA    0
TP_GRAU_ACADEMICO              0
TP_COR_RACA                    0
dtype: int64

In [22]:
data_2009 = all_data_until_2016[0]
data_2010 = all_data_until_2016[1]
data_2011 = all_data_until_2016[2]
data_2012 = all_data_until_2016[3]
data_2013 = all_data_until_2016[4]
data_2014 = all_data_until_2016[5]
data_2015 = all_data_until_2016[6]
data_2016 = all_data_until_2016[7]
data_2017 = all_data_since_2017[0]
data_2018 = all_data_since_2017[1]
data_2019 = all_data_since_2017[2]

In [ ]:
data_2009.to_csv('DM_ALUNO_2009_clean.CSV', sep="|", index=False)
data_2010.to_csv('DM_ALUNO_2010_clean.CSV', sep="|", index=False)
data_2011.to_csv('DM_ALUNO_2011_clean.CSV', sep="|", index=False)
data_2012.to_csv('DM_ALUNO_2012_clean.CSV', sep="|", index=False)
data_2013.to_csv('DM_ALUNO_2013_clean.CSV', sep="|", index=False)
data_2014.to_csv('DM_ALUNO_2014_clean.CSV', sep="|", index=False)
data_2015.to_csv('DM_ALUNO_2015_clean.CSV', sep="|", index=False)
data_2016.to_csv('DM_ALUNO_2016_clean.CSV', sep="|", index=False)
data_2017.to_csv('DM_ALUNO_2017_clean.CSV', sep="|", index=False)
data_2018.to_csv('DM_ALUNO_2018_clean.CSV', sep="|", index=False)
data_2019.to_csv('DM_ALUNO_2019_clean.CSV', sep="|", index=False)